extends ../layouts/default

block css
	link(rel='stylesheet', type='text/css', href='/styles/page/abouts.css')

block index-main
	// 站内搜索start
	.page-lander.text-center
		h1
			span(style='display: inline-block;') 用最先进的技术
			| &nbsp;
			span(style='display: inline-block;') 让生活更加美好 
		p 凭借水面光伏领域专业技术研发，高效利用太阳能，推动光伏电站平价上网
	// 站内搜索end
	// 主体内容start
	.main-content
		.container
			ul#myTab.col-sm-3.nav.nav-pills.nav-stacked(role='tablist')
				li.active(role='presentation')
					a#one-tab(href='#one', role='tab', data-toggle='tab', aria-controls='one', aria-expanded='false') 公司简介
				li(role='presentation')
					a#two-tab(href='#two', role='tab', data-toggle='tab', aria-controls='two', aria-expanded='true') 联系我们
				li(role='presentation')
					a#three-tab(href='#three', role='tab', data-toggle='tab', aria-controls='three', aria-expanded='true') 合作伙伴
				li(role='presentation')
					a#four-tab(href='#four', role='tab', data-toggle='tab', aria-controls='four', aria-expanded='true') 法律声明
				li(role='presentation')
					a#five-tab(href='#five', role='tab', data-toggle='tab', aria-controls='five', aria-expanded='true') 隐私政策
			#myTabContent.col-sm-9.tab-content
				#one.tab-pane.fade.active.in(role='tabpanel', aria-labelledby='one-tab')
					ol.breadcrumb
						li
							a(href='/') 首页
						li
							a(href='/abouts') 关于我们
						li.active 公司简介
					h1= data.introduction.title
					!= data.introduction.content.full
				#two.tab-pane.fade(role='tabpanel', aria-labelledby='two-tab')
					ol.breadcrumb
						li
							a(href='/') 首页
						li
							a(href='/abouts') 关于我们
						li.active 联系我们
					h1= data.contact.title
					p 地址：#{data.contact.address}
					p 邮政编码：#{data.contact.postcode}
					p 联系电话：#{data.contact.tel}
					p 邮箱：#{data.contact.email}
				#three.tab-pane.fade(role='tabpanel', aria-labelledby='three-tab')
					ol.breadcrumb
						li
							a(href='/') 首页
						li
							a(href='/abouts') 关于我们
						li.active 合作伙伴
					h1 合作伙伴
					.row
						each partner in data.partners
							.col-md-3.col-sm-4.col-xs-3
								img(style={width: '100%', 'max-height': '90px'},src=partner.logoImage.path.substring(6)+partner.logoImage.filename)
				#four.tab-pane.fade(role='tabpanel', aria-labelledby='four-tab')
					ol.breadcrumb
						li
							a(href='/') 首页
						li
							a(href='/abouts') 关于我们
						li.active 法律声明
					h1= data.lawStates.title
					!= data.lawStates.content
				#five.tab-pane.fade(role='tabpanel', aria-labelledby='five-tab')
					ol.breadcrumb
						li
							a(href='/') 首页
						li
							a(href='/abouts') 关于我们
						li.active 隐私政策
					h1= data.privacyPolicies.title
					!= data.privacyPolicies.content
	// 主体内容end

block js
	// 页面相关
	script(type='text/javascript').
