extends ../layouts/default

block css
	link(rel='stylesheet', type='text/css', href='/styles/page/page.css')

block index-main
	// 站内搜索start
	.page-lander.text-center
		h1
			span(style='display: inline-block;') 用最先进的技术
			| &nbsp;
			span(style='display: inline-block;') 让生活更加美好
		p 凭借水面光伏领域专业技术研发，高效利用太阳能，推动光伏电站平价上网
		form#searchForm(role='form' action='/news' method='get')
			input#searchContent(type='text', name='searchContent', value=filters.searchContent?''+filters.searchContent:'')
			button(type='sumbit', style='margin-top: -2px;') 搜索
	// 站内搜索end
	// 主体内容start
	.main-content
		.container
			ul.location.list-unstyled.list-inline
				li
					a(href='/') 首页
				li.location-separator
				li
					a(href='/news') 新闻资讯
				li.location-separator
				li.active
					a(href='javascript:;')= data.newsInfo.title
			article.article
				h1.article-header= data.newsInfo.title
				p.article-note
					span= data.newsInfo._.publishedDate.format('YYYY-MM-DD')
				.article-body
					img(src=data.newsInfo.overviewImage.path.substring(6)+data.newsInfo.overviewImage.filename)
					!= data.newsInfo.content.full
			p
				each category in data.newsInfo.categories
					span.tag.tag-gray= category.name
	// 主体内容end

block js
	// 页面相关
	script(type='text/javascript').
