extends ../layouts/default

block css
	link(rel='stylesheet', type='text/css', href='/styles/page/news.css')

block index-main
	// 站内搜索start
	.page-lander.text-center
		h1
			span(style='display: inline-block;') 用最先进的技术
			| &nbsp;
			span(style='display: inline-block;') 让生活更加美好
		p 凭借水面光伏领域专业技术研发，高效利用太阳能，推动光伏电站平价上网
		form#searchForm(role='form' action='/news' method='get')
			input#searchContent(type='text', name='searchContent', value=filters.searchContent?''+filters.searchContent:'')
			button(type='sumbit', style='margin-top: -2px;') 搜索
	// 站内搜索end
	// 主体内容start
	.main-content
		// 新闻资讯分类start
		.news-info-categories
			.container
				ul.list-inline
					li(class={active: !data.category})
						a(href='/news') 全部
					each category in data.categories
						li(class={active: data.category && data.category.key == category.key})
							a(href='/news/#{category.key}')= category.name
		// 新闻资讯分类end
		// 新闻资讯列表start
		.news-infos
			.container
				ul.media-list
					each newsInfo in data.newsInfos.results
						li.media
							a.media-left(href='/news/information/#{newsInfo.slug}')
								img(src=newsInfo.overviewImage.path.substring(6)+newsInfo.overviewImage.filename, alt='')
							.media-body
								h4
									a(href='/news/information/#{newsInfo.slug}')= newsInfo.title
								!= newsInfo.content.brief 
								time= newsInfo._.publishedDate.format('YYYY-MM-DD')
				// 分页start
				nav
					ul.pagination.pagination-lg
						- var categoryUrl = data.category?"/news/"+data.category.key+"?page=":"/news?page=";
						li
							a(href=data.newsInfos.currentPage-data.newsInfos.currentPage%3==0 ? 'javascript:;' : 'javascript:generateUrlWithSearch('+(data.newsInfos.currentPage-3)+')') «
						if data.newsInfos.currentPage-data.newsInfos.currentPage%3+1 <= data.newsInfos.totalPages
							li(class=data.newsInfos.currentPage%3==1?'active':'')
								a(href='javascript:generateUrlWithSearch('+(data.newsInfos.currentPage-data.newsInfos.currentPage%3+1)+')')= data.newsInfos.currentPage-data.newsInfos.currentPage%3+1
						if data.newsInfos.currentPage-data.newsInfos.currentPage%3+2 <= data.newsInfos.totalPages
							li(class=data.newsInfos.currentPage%3==2?'active':'')
								a(href='javascript:generateUrlWithSearch('+(data.newsInfos.currentPage-data.newsInfos.currentPage%3+2)+')')= data.newsInfos.currentPage-data.newsInfos.currentPage%3+2
						if data.newsInfos.currentPage-data.newsInfos.currentPage%3+3 <= data.newsInfos.totalPages
							li(class=data.newsInfos.currentPage%3==3?'active':'')
								a(href='javascript:generateUrlWithSearch('+(data.newsInfos.currentPage-data.newsInfos.currentPage%3+3)+')')= data.newsInfos.currentPage-data.newsInfos.currentPage%3+3
						li
							a(href=data.newsInfos.currentPage+3>data.newsInfos.totalPages ? 'javascript:;' : 'javascript:generateUrlWithSearch('+(data.newsInfos.currentPage+3)+')') »
				// 分页end
		// 新闻资讯列表end
	// 主体内容end

block js
	// 页面相关
	script(type='text/javascript').
		function generateUrlWithSearch(page) {
			window.location.href = '#{categoryUrl}' + page + '&searchContent=' + document.getElementById('searchContent').value;
		}
